.claude/settings.local.json
.claude

cms.sublime-project
cms.sublime-workspace

Gemfile.lock
main.db

files/*

public/fonts/*
!public/fonts/.gitkeep 

public/javascripts/*
!public/javascripts/.gitkeep 

public/stylesheets/*
!public/stylesheets/.gitkeep 
#

config.yml
database.yml
deploy.rb
secret.yml
schedule.rb
