.claude/settings.local.json
.claude

cms.sublime-project
cms.sublime-workspace

Gemfile.lock
main.db

files/*

public/images/*
!public/images/.gitkeep 

public/fonts/*
!public/fonts/.gitkeep 

public/javascripts/*
!public/javascripts/.gitkeep 

public/stylesheets/*
!public/stylesheets/.gitkeep 
#

config/
!_config.yml
!_database.yml
!_secret.yml
!_languages.yml
!_deploy.rb
!_schedule.rb
!_puma.rb
