.claude/settings.local.json
.claude

cms.sublime-project
cms.sublime-workspace

config/*
!config/_config.yml
!config/_database.yml
!config/_secret.yml
!config/_languages.yml
!config/_deploy.rb
!config/_schedule.rb
!config/_puma.rb

config/certs/*

Gemfile.lock
main.db
*.db
*.sqlite

public/images/*
!public/images/.gitkeep 

public/fonts/*
!public/fonts/.gitkeep 

public/javascripts/*
!public/javascripts/.gitkeep 

public/stylesheets/*
!public/stylesheets/.gitkeep 
#

